:root{
    --color-primario: #ffd9c9;
    --color-secundario: #ebafcc;
    --color-terciario: #ffdb83;
    --color-cuaternario: #c094d6;
    --color-grisaceo: #787878;
    --just-white:#ffffff;
    --pure-black:#000000;
    --fuente1: font-family: 'Nerko One', cursiva;
    --fuente2: font-family: 'Kanit', sans-serif;
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--fuente2);
}

body{
    background-color: var(--color-primario);
}

.div--container img{
    width: 220px;
    margin-left: 15px;
}
.Flex-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    width: 100%;
}

.box-buttons{
    border: 2px;
    background-color: var(--color-secundario);
    color: var(--pure-black);
    font-family: var(--fuente2);
    height: 120px;
    width: 220px;
    font-size: 32px;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

.Contacto-container img{
    width: 20%;
    height: 10%;
    padding: 5%;
    margin: 5px;
    border-radius: 70%;
    align-items: center
}


.end{
    text-align: center;
    font-size: 13.5px;
    font-weight: bold;
    font-family: var(--fuente1);
}